@import "tailwindcss";

@theme {
  /* Typography */
  --font-raleway: "Raleway", sans-serif;

  /* Brand */
  --color-brand: #D94F26;
  --color-brand-dark: #8F2F1B;
  --color-accent: #F4A62A;

  /* Background */
  --color-background: #FFF7ED;
  --color-background-soft: #F7EBDD;

  /* Text */
  --color-text: #003f72;
  --color-text-light: #ffffff;
}
