@import "tailwindcss";

@theme {
  /* Typography */
  --font-raleway: "Raleway", sans-serif;

  /* Brand */
  --color-brand: #204174;
  --color-brand-dark: #003f72;
  --color-accent: #cd7002;

  /* Background */
  --color-background: #ffffff;
  --color-background-soft: #f5f7fa;

  /* Text */
  --color-text: #003f72;
  --color-text-light: #ffffff;
}
